<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= title %> | React Practice 1</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" type='text/css'>
  <link rel="stylesheet" href="css/custom.css" type='text/css'>
  <script src="js/bootstrap.bundle.min.js" crossorigin></script>
  <script src="js/react.production.min.js" crossorigin></script>
<script src="js/react.production.min.js" crossorigin></script>

 <!-- Load our React component. -->
  <script src="components/like_button.js"></script>
</head>
<body>
<div class="container-fluid mw-xl">
  <div class="row">
    <div class="col-md-4">
	  <div id="like_button_container"></
      <script>
	   
      </script>
    </div>
  </div>
</div>
</body>
</html>